<a href="https://colab.research.google.com/github/asmaaahmedm/lab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=3
num2=4
num3=5
print(num1+num2)
print(num1-num2)
print(num1*num2+num3)
print(num1*(num2+num3))
print(int(num3/num1))
print(num3//num1)
print(num3%num1)

7
-1
17
27
1
1
2

In [ ]:
num1, num2, num3 = 3.0, 4.0, 5.0
print( num1 + num2)
print( num3 - num1)
print( num1 * num2 + num3)
print( num1 * (num2 + num3))
print( num3 / num1)
print( num3 // num1)
print( num3 % num1)

7.0
2.0
17.0
27.0
1.6666666666666667
1.0
2.0

In [ ]:
x, y, z, g = 1, 2, 3, 4
print( x + y * z / g)
print( y ** z)

2.5
8

In [ ]:
str_a = "Python"
str_b = "is a"
str_c = "times fun language"
num = 1000
str_ab = str_a + " " + str_b + " " + str(num) + " " + str_c
print( str_ab)
str_a10 = str_a * 10
print( str_a10)

Python is a 1000 times fun language
PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 6
Even

In [ ]:
score = int(input("Enter student score (0-100): "))
if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter student score (0-100): 90
Pass

In [ ]:
a =input("Enter first number: ")
b =input("Enter second number: ")
c =input("Enter third number: ")
print("Largest number is:", max(a, b, c))

Enter first number: 4
Enter second number: 5
Enter third number: 6
Largest number is: 6

In [ ]:
grade_score = int(input("Enter score (0-100): "))
if 90 <= grade_score <= 100:
    print("Grade: A")
elif 80 <= grade_score <= 89:
    print("Grade: B")
elif 70 <= grade_score <= 79:
    print("Grade: C")
elif 60 <= grade_score <= 69:
    print("Grade: D")
else:
    print("Grade: F")

Enter score (0-100): 70
Grade: C

In [ ]:
num_table = input("Enter a number for multiplication table: ")
for i in range(1, 11):
    print(num_table * i)

Enter a number for multiplication table: 2
2
22
222
2222
22222
222222
2222222
22222222
222222222
2222222222

In [ ]:
sum_even = 0
for i in range(1, 51):
    if i % 2 == 0:
        sum_even += i
print("Sum of even numbers from 1 to 50:", sum_even)

Sum of even numbers from 1 to 50: 650

In [ ]:
fact_num = int(input("Enter a number to find factorial: "))
fact = 1
count = 1
while count <= fact_num:
    fact *= count
    count += 1
print(f"Factorial of {fact_num} is {fact}")

Enter a number to find factorial: 5
Factorial of 5 is 120